networkx
typing_extensions
requests
cryptography
paho-mqtt
fastapi
pyyaml
numpy
uvicorn
python-dotenv
websockets
transformers
torch
sentencepiece
sacremoses
spacy
nlp
pandas
scikit-learn
py-solc-x
web3
pytest
pytest-cov
pytest-mock
pytest-asyncio
httpx
hbmqtt
